In [1]:
x = 5
y = 3
x = y
y = x+2
print(x,y)

3 5

In [2]:
a = 10
b = 5
c = a//b
d = a%b
print(c,d)

2 0

In [3]:
x = 5
y = 10
x = y
y = 20
print(x)

10

In [5]:
x = 5
y = 10
if x>y:
  print("x is gretaer ")
else:
    print( " y gre")

 y gre

In [6]:
sum = 0
for i in range ( 1,6):
  sum+=i
  print(sum)

1
3
6
10
15

In [11]:
count = 0
while count< 5:
print (count)
count +=1

IndentationError: ignored